html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a {
  text-decoration:none;
  color:#407C1F;
}
a:hover {
  text-decoration:underline;
}

/* remember to define focus styles! */
:focus {
	outline:0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse:collapse;
	border-spacing:0;
}

body {
  text-align:center;
  padding:20px;
  font-family:Arial, Verdana, sans-serif;
  background-color:#fbfbdf;
}
#top {
  height:70px; 
  background-color:#fff; 
  display:block; 
  margin:18px auto;
  width:1000px;
  text-align:left; 
  -webkit-border-radius:0 5px 5px 0;
     -moz-border-radius:0 5px 5px 0;
          border-radius:0 5px 5px 0;
  -webkit-box-shadow:1px 1px 2px #CBCBB4;
     -moz-box-shadow:1px 1px 2px #CBCBB4;
          box-shadow:1px 1px 2px #CBCBB4;
}
#top h1 {
  font-size:2.3em;
  letter-spacing:-0.05em;
  background:url("/images/logo-news.png") no-repeat;
  height:96px;
  margin:-15px 0 0 -30px;
  padding-left:130px;
  position:absolute;
}
#top h1 a {
  float:left;
  padding:30px 0;
}
.timeago {
  font-size:0.7em;
  background-color:#ebefef;
  padding:3px 7px;
  white-space: nowrap;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
}
.source a {
  margin-left:6px;
  font-size:0.7em;
  background-color:#8b8f8f;
  color:#fff;
  white-space:nowrap;
  padding:3px 7px;
  white-space: nowrap;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
}
.source-meio-norte h1 {
  padding-left:25px;
  background:url('/images/mn.gif') 0 1px no-repeat;
}
.source-180-graus h1 {
  padding-left:25px;
  background:url('/images/180.png') 0 2px no-repeat;
}
.source-cidade-verde h1 {
  padding-left:25px;
  background:url('/images/cv.png') 0 1px no-repeat;
}
.published {
  color:#999;
  font-size:0.85em;
  margin:6px 25px !important;
}
.tweet_button {
  float:right;
}
.source a.meio-norte {
  background-color:#0072BC;
}
.source a.cidade-verde {
  background-color:#20863D;
}
.source a.180-graus {
/*  background-color:#D06A2C;*/
  background-color:#FFF;
}
.source a:hover {
  text-decoration:none;
}
article {
  margin-bottom:1.3em; 
  padding:4px 4px 0.5em;
  margin-bottom:0.5em;
  border-bottom:1px solid #dedede;
  text-align:left;
  display:block;
}
article h1 {
  font-size:1.1em;
  margin-bottom:10px;
  font-weight:normal;
  display:inline;
}
article .complement {
  display:inline;
}
p {
  margin:10px;
  line-height:1.5em;
}

section#articles_list {
  background-color:#FFFFFF;
  display:block;
  padding:20px;
  margin:0 auto;
  width:960px;
  text-align:left; 
  -webkit-border-radius:8px;
     -moz-border-radius:8px;
          border-radius:8px;
  -webkit-box-shadow:1px 1px 2px #CBCBB4;
     -moz-box-shadow:1px 1px 2px #CBCBB4;
          box-shadow:1px 1px 2px #CBCBB4;
}
ul {padding:10px;}
ul a {}
ul li {display:inline;padding-left:15px;}
#articles_index article .extra, #articles_index .text, #domains_show .text {display:none;}
#articles_index .text { 
  padding:5px 15px;
  margin:5px 0;
  font-size:0.95em;
}

nav {margin-bottom:5px;}

.pagination a{
  padding: 3px 5px;
  border: 1px solid #ddd;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
}

.pagination .current {
  padding: 3px 5px;
  border: 1px solid #666;
  font-weight: bold;
  background: #666;
  color: #fff;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
}

#cse {
  float: right;
  padding: 9px;
  width: 480px;
}

.gsc-control-cse {
  font-family: Arial, sans-serif;
  border-color: #FBFBDF;
  background-color: #FBFBDF;
}
input.gsc-input {
  border-color: #407C1F;
}
input.gsc-search-button {
  border-color: #407C1F;
  background-color: #AADA92;
}
.gsc-tabHeader.gsc-tabhInactive {
  border-color: #407C1F;
  background-color: #FFFFFF;
}
.gsc-tabHeader.gsc-tabhActive {
  border-color: #407C1F;
  background-color: #ffffff;
}
.gsc-tabsArea {
  border-color: #407C1F;
}
.gsc-webResult.gsc-result {
  border-color: #A9DA92;
  background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover {
  border-color: #A9DA92;
  background-color: #FFFFFF;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b {
  color: #0066CC;
}
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b {
  color: #0066CC;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b {
  color: #0066CC;
}
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b {
  color: #0066CC;
}
.gsc-cursor-page {
  color: #0066CC;
}
a.gsc-trailing-more-results:link {
  color: #0066CC;
}
.gs-webResult.gs-result .gs-snippet {
  color: #454545;
}
.gs-webResult.gs-result .gs-visibleUrl {
  color: #815FA7;
}
.gs-webResult.gs-result .gs-visibleUrl-short {
  color: #815FA7;
}
.gsc-cursor-box {
  border-color: #A9DA92;
}
.gsc-results .gsc-cursor-page {
  border-color: #407C1F;
  background-color: #FFFFFF;
}
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
  border-color: #407C1F;
  background-color: #ffffff;
}
.gs-promotion.gs-result {
  border-color: #94CC7A;
  background-color: #CBE8B4;
}
.gs-promotion.gs-result a.gs-title:link {
  color: #0066CC;
}
.gs-promotion.gs-result a.gs-title:visited {
  color: #0066CC;
}
.gs-promotion.gs-result a.gs-title:hover {
  color: #0066CC;
}
.gs-promotion.gs-result a.gs-title:active {
  color: #0066CC;
}
.gs-promotion.gs-result .gs-snippet {
  color: #454545;
}
.gs-promotion.gs-result .gs-visibleUrl,
.gs-promotion.gs-result .gs-visibleUrl-short {
  color: #815FA7;
}