html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {text-align: center;margin: 20px;font-family: Arial, "MS Trebuchet", sans-serif;background-color: #DFDFDF;}
header h1 {font-size: 2.8em;margin: 30px;}
header h1 time, header h1 span {font-size: 0.5em;text-shadow: none;}
article {margin-bottom: 1.3em; padding: 4px;text-align: left;}
article h1 {font-size: 1.3em;margin: 0; margin-bottom: 10px;text-shadow: 1px 1px #A7A7A7;}
article .text {text-align: left;text-indent: 50px;}
p {margin: 10px;line-height: 1.5em;}
section#articles_list {width: 100%;}
ul {padding: 10px;}
ul a {}
ul li {display: inline;padding-left: 15px;}
#articles_index article nav,#articles_index .text {display: none;}
nav {margin-bottom: 5px;}
a {text-decoration: none; color: #000;}
a:hover {text-decoration: underline;}